<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="Microsoft.SDKSamples.AdventureWorks.Shopper.CSharp" Publisher="CN=Microsoft Corporation, O=Microsoft Corporation, L=Redmond, S=Washington, C=US" Version="1.0.0.0" />
  <Properties>
    <PublisherDisplayName>Microsoft Corporation</PublisherDisplayName>
    <DisplayName>AdventureWorks Shopper C# Sample</DisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="AdventureWorks.Shopper">
      <VisualElements DisplayName="AdventureWorks Shopper C# sample" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="AdventureWorks Shopper C# sample" ForegroundText="light" BackgroundColor="#1d1d1d">
        <DefaultTile ShowName="noLogos" ShortName="AdventureWorks Shopper C#" WideLogo="Assets\WideLogo.png" />
        <SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#1d1d1d" />
      </VisualElements>
      <Extensions>
        <Extension Category="windows.search" />
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>